#heading{
    margin-left: 40px;
    color: gray;

}
.container{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1rem;
}

.wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.card{
   
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 240px;
    height: 400px;
    background-color: #f5f5f5;
    position: relative;
}

img{
    margin-top: 20px;
    width: 190px;
    height: 249px;
}

.title{
    font-size: 15px;
    margin: 20px 0 0 20px;
    padding: 0;
}

.author{
    margin: 10px 0 0 20px;
    padding: 0;
    font-size: 12px;
}
.price{
    margin: 10px 0 0 20px;
    padding: 0;
    font-size: 15px;
}


